
#userName > div {
    padding: 5px;

    font-size: 20px;
    font-weight: bold;
}

#leaderboard{
    border-collapse: collapse;
}

#leaderboard  > tr > th{
    border: 1px solid black;

    text-align: center;
    vertical-align: middle;

    min-width: 100px;

    background-color: gray;
}

#leaderboard  > tr > td{
    border: 1px solid black;
    text-align: center;
}


.bg {
    background-color: lightgrey;
}

#newGame > button {
    padding: 5px;
    margin-bottom: 10px;
    background-color: darkorange;
}

#gameList > li {
    list-style-type: none;
    max-width: 500px;

    padding: 10px;
    margin: 10px;

    border: 1px solid #eee;
    box-shadow: 5px 5px #ccc;
    border-radius: 5px;
}

#gameList > button {
    margin: 0 0 10px 10px;
}