
#gameLogOut{
    display: flex;
    /*justify-content: space-between;*/
}

#gameLogOut > form{
    margin-left: 30px;
}

#twoGrids {
    display: flex;
}

#twoGrids > div {
    padding: 5px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#grid {
    width: 462px;
    padding: 0px;
    margin: 0 auto;
    border: 1px solid black;
}

#grid > tr > td {
    width: 40px;
    height: 40px;
    border: 1px solid black;

    text-align: center;
    vertical-align: middle;
}

.gridNames{
    font-size: 20px;
    font-weight: bold;
}

#salvoGrid {
    width: 462px;
    padding: 0px;
    margin: 0 auto;
    border: 1px solid black;
}

#salvoGrid > tr > td {
    width: 40px;
    height: 40px;
    border: 1px solid black;

    text-align: center;
    vertical-align: middle;
}

#gridOne {
    text-align: center;
}

#gridTwo {
    text-align: center;
}

.playersShip {
    background-color: yellow;
}

.playersSalvo {
    background-color: lightblue;
    font-weight: bold;
}

.salvo {
    background-color: cornflowerblue;
    font-weight: bold;
}

.salvoHit {
    background-color: red;
    font-weight: bold;
}

.sinkedShip{
    background-color: darkgrey;
}


#doubleClickInfo{
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.through {
    text-decoration: line-through;
}

/* PLACING & SAVING SHIPS */

.placingShip {
    background-color: green;
}

.notAllowed {
    background-color: red;
}

.placingShipShadow {
    background-color: darkgrey;
}

.notAllowedShadow {
    background-color: indianred;
}

.savedShip {
    background-color: darkorange;
}

.placingSalvo{
    background-color: green;
}

.savedSalvo {
    background-color: darkorange;
}

.notAllowedSalvo{
    background-color: red;
}

/*#gameState > table > tbody > tr > th{*/
    /*border: 1px solid black;*/
    /*padding: 3px;*/
/*}*/

/*#gameState > table > tbody > tr > td{*/
    /*border: 1px solid black;*/
    /*padding: 3px;*/
/*}*/

#gameNo > table {
    margin: 10px;
}

#gameNo > table > tbody > tr > td {
    border: 1px solid black;
    padding: 3px;
}

.hit{
    background-color: orangered;
}

.sinked{
    text-decoration: line-through;
    background-color: darkgrey;
}

#salvoButton{
    display: flex;
    justify-content: center;
}

#salvoButton > input{
    margin: 10px;
}
