
#twoGrids {
    display: flex;
}

#twoGrids > div {
    padding: 5px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#grid {
    width: 462px;
    padding: 0px;
    margin: 0 auto;
    border: 1px solid black;
}

#grid > tr > td {
    width: 40px;
    height: 40px;
    border: 1px solid black;

    text-align: center;
    vertical-align: middle;
}

.gridNames{
    font-size: 20px;
    font-weight: bold;
}

#salvoGrid {
    width: 462px;
    padding: 0px;
    margin: 0 auto;
    border: 1px solid black;
}

#salvoGrid > tr > td {
    width: 40px;
    height: 40px;
    border: 1px solid black;

    text-align: center;
    vertical-align: middle;
}

#gridOne {
    text-align: center;
}

#gridTwo {
    text-align: center;
}

.playersShip {
    background-color: yellow;
}

.playersSalvo {
    background-color: blue;
    font-weight: bold;
}

.enemysSalvo {
    background-color: cornflowerblue;
    font-weight: bold;
}

.enemysSalvoHit {
    background-color: red;
    font-weight: bold;
}

#doubleClickInfo{
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.through {
    text-decoration: line-through;
}

/* SHIPS */
#aircraftCarrierMark {
    width: 40px;
    height: 40px;
    border: 1px solid black;

    text-align: center;
    vertical-align: middle;

    background-color: aquamarine;
}

#battleshipMark {
    width: 40px;
    height: 40px;
    border: 1px solid black;

    text-align: center;
    vertical-align: middle;

    background-color: aquamarine;
}

#submarineMark {
    width: 40px;
    height: 40px;
    border: 1px solid black;

    text-align: center;
    vertical-align: middle;

    background-color: aquamarine;
}

#destroyerMark {
    width: 40px;
    height: 40px;
    border: 1px solid black;

    text-align: center;
    vertical-align: middle;

    background-color: aquamarine;
}

#patrolBoatMark {
    width: 40px;
    height: 40px;
    border: 1px solid black;

    text-align: center;
    vertical-align: middle;

    background-color: aquamarine;
}

/* PLACING & SAVING SHIPS */

.placingShip {
    background-color: green;
}

.notAllowed {
    background-color: red;
}

.placingShipShadow {
    background-color: darkgrey;
}

.notAllowedShadow {
    background-color: indianred;
}

.savedShip {
    background-color: darkorange;
}